body {
	background: rgb(232, 232,232);
}


main table{
	margin: auto;
}
 
.info {
	float: right;
}

.gamebutton {
	border: transparent solid thick;
	background: rgb(58,137,212);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}
.mine {
	
	border: red solid thick;
}
.flagged {

	background: red;
}

.clicked {
	background: #00CCFF;
}


.clicked-1 {
	color: #000066;
}
.clicked-2 {
	color: #006600;
}
.clicked-3 {
	color: #CC6600;
}
.clicked-4 {
	color: #990000;
}
.clicked-5 {
	color: #330066;
}
.clicked-6 {
	color: #66FFFF;
}
.clicked-7 {
	color: #CC99FF;
}
.clicked-8 {
	color: #00FF66;
}